@import url(http://fonts.googleapis.com/css?family=Lato);

body {
    counter-reset: li; /* initialize counter named li */
}

h1 {
    font-family: 'Lato' Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 28px;
}

h2 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-style: normal;
    font-size: 22px;
}

h3 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-style: normal;
    font-size: 18px;
}

h4 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-style: normal;
    font-size: 16px;
}

ol {
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol > li {
    position:relative; /* Create a positioning context */
    margin:0 0 10px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:10px 80px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    border-top:2px solid rgb(98, 142, 164);
    background:rgba(98, 142, 164, 0.1);
}
ol > li:before {
    content:"exercise " counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:7em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    border-top:2px solid rgb(98, 142, 164);
    color:#ffffff;
    background:rgb(98, 142, 164);
    font-weight:regular;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-align:center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

div#license {
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgba(30, 124, 38, 1);
    border:1px solid rgba(30, 124, 38, 0.3);
    padding: 10px 10px;
    background: rgba(30, 124, 38, 0.1);
    border-radius: 5px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 10px;
}


ul {
    list-style-type:disc;
}

hr {
 	border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(98, 142, 164, 0.25), rgba(98, 142, 164, 1.0), rgba(98, 142, 164, 0.25));
}

blockquote {
  font-family: serif;
  font-size: 12;
}
